<div class="thumbnail">

<img src = "<%= @specific_director.image_url %>">

<div>
  <%= @specific_director.name %>
</div>

<div>
  <%= @specific_director.dob %>
</div>

<div>
<%= @specific_director.bio %>
</div>
