<h1>Add a new director</h1>

<form action = "/create_director">
  <div>
<label for ="url">
  Image URL
</label>
<input id = "url" name = "the_image_url" type = "string">
</div>

<div>
<label for ="d_name">
  Director Name
</label>
<input id = "d_name" name = "the_name" type = "string">
</div>

<div>
<label for ="bio">
  Bio
</label>
<input id = "bio" name = "the_bio" type = "text">
</div>

<div>
<label for = "dob">
  Date of Birth
</label>
<input id = "dob" name = "the_dob" type = "string">
</div>

<button>Create Director</button>
</form>
